# Environment Variables
.env
.env.local
.env.*
env.local
env.*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/
build/
dist/
*.egg-info/

# Node/React
node_modules/
dist/
.eslintcache
*.log

# IDEs
.vscode/
.idea/
.DS_Store